<!DOCTYPE html>
<% include partials/header %>

  <body> <!-- Represents what will be shown in the page -->
    <div> <!--   Grouping stuff into a boxish -->
      <h1>Welcome to MedTrack</h1>

      <a href="\register" class="btn btn-danger">Register</a>
      <a href="\patients" class="btn btn-danger">Login</a>
    </div>
    <% include partials/footer %>
